$color-text-red: #f84828;
$color-text-green: #3db049;
$color-text-white: whitesmoke;
$color-background: #211b1b;
$color-background-card: #353433;
$color-background-header: #0f0f0f;

@import "./scss/variables-theme.scss";
@import "./scss/mixins-theme.scss";
@import "./scss/uikit-theme.scss";

*,
h3 {
  font-family: "Inconsolata", monospace;
}

input {
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
  box-shadow: 2px 2px 5px black;
}

body {
  background-color: $color-background;
  min-height: 100vh;
  position: relative;
}

header {
  background: $color-background-header;
}

footer {
  background: $color-background-header;
  position: absolute;
  bottom: 0;
}

.uk-navbar-container {
  background: $color-background-header !important;
}

.card {
  background-color: $color-background-card;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.text-red {
  color: $color-text-red;
}

.text-green {
  color: $color-text-green;
}

.text-white {
  color: $color-text-white;
}

.stat-number-large {
  font-size: xx-large;
}

.stat-number-small {
  font-size: large;
}

.uk-button {
  text-transform: none;
  line-height: normal;
}

// COUNTRY SEARCH INPUT
.search-form-wrapper {
  position: relative;

  & label {
    position: relative;
  }

  & #searchFormDropdown {
    position: absolute;
    width: 100%;
    background: white;
    max-height: 300px;
    overflow-y: scroll;
    top: 50px;

    & ul {
      margin-top: 10px;
    }

    & li {
      list-style: none;
      margin: 8px auto;
    }
  }
}
